*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* #region debug */


/* #endregion debug */


/* #region header */
/* #endregion header */


/* #region main */
/* #endregion main */


/* #region footer */
/* #endregion footer */

/* #region colors */
:root{
    --db-main: #b4d0e7;
    --db-secondary: #0060fe;
    --db-dark: #000101;
    --db-light: #fefeff;
}
/* #endregion colors */