*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1170px;
    margin: auto;
    width: 80%;
    padding: 3rem 0;
}

section{
    background-color: var(--db-light);
}

.blue_btn{
    color: var(--db-light);
    background-color: var(--db-secondary);
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.5s;
}

.blue_btn:hover{
    filter: brightness(150%);
}

.p_xy{
    padding: 6rem 3rem;
}

.space_btw{
    justify-content: space-between;
}

.jc_center{
    justify-content: center;
}

.ai_center{
    align-items: center;
}

h2{
    font-size: 2.5rem;
    padding: 3rem 0;
}
/* #region debug */
.debug header{
    background-color: rgb(255, 123, 123);
    height: 80px;
}
.debug section{
    border: 1px dashed black;
    background-color: rgba(192, 255, 98, 0.719);
}
.debug .container{
    background-color: rgba(109, 109, 246, 0.625);
}
.debug .row{
    background-color: rgb(233, 233, 102);
}
.debug .big_col, .debug .small_col, .debug .equal_col, .debug .large_col{
    background-color: rgb(238, 135, 238);
}
.debug .card{
    background-color: pink;
}
/* #endregion debug */


/* #region header */
header{
    padding: 0 1rem;
    background-color: var(--db-light);
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index:100;
    box-shadow: 0 5px 10px -3px rgb(131, 131, 131);
}
nav>a{
    border-bottom: 1px solid white;
    text-decoration: none;
    color: var(--db-dark);
    padding: 1rem;
    transition: 0.2s;
}


header a:hover{
    border-bottom: 1px solid var(--db-secondary);
}
.left_nav, .right_nav{
    gap: 2rem;
    font-size: 1.1rem;

}

.right_nav>a:last-child{
    align-self: center;
}


/* #endregion header */


/* #region main */
/* #region hero image */
h1{
    font-size: xx-large;
    padding-bottom: 2rem;
    font-size: 3.5rem;
}
.hero_image{
    background-color: var(--db-main);
    height: 35rem;
}
.small_col{
    width: 40%;
}
.small_col>p{
    padding-bottom: 2rem;
}
.small_col>div{
    padding-top: 2rem;
}
#ancor{
    transition: 1s;
}
.big_col{
    width: 60%;
}
.hero_image>.container>.row>.big_col>img{
    height: 23rem
}
/* #endregion hero image */
input{
    appearance: none;
    border: 2px lightgray solid;
    border-radius: 50%;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
}
h2+input{
    border: 4px solid var(--db-secondary);
}
input+input{
    margin-left: 3rem;
}
.equal_col{
    width: calc(100%/3 - 1rem);
    justify-content: center;
    margin-top: 3rem;
}
.head_col{
    justify-content: center;
    padding: 0.5rem 0;
    border: 1px solid lightgray;
    border-bottom: none;
    align-items: center;
    gap: 5px;
}
.main_col{
    border: 1px solid lightgray;
    padding: 1.8rem 1.5rem;
    margin-bottom: 2rem;
}
.card_col{
    height: 100%;
    height: 730px;
}
.card_col>h3{
    padding-bottom: 1rem;
}
.price{
    font-weight: 700;
    padding-bottom: 0.6rem;
}
.period{
    font-weight: 100;
    color: gray;
    padding-bottom: 2.5rem;
}
.info_biz_plan{
    gap: 5px;
    align-items: flex-start;
    padding-bottom: 0.5rem;
}
.info_biz_plan+.blue_btn{
    margin: 2rem 0;
}
.s_hr{
    margin: 2.5rem 0;
    width: 3rem;
}
hr+h5{
    padding-bottom: 1rem;
}
/* #region large column */
.large_col>.main_col>.d-flex{
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.large_col>.main_col>.d-flex+div{
    font-weight: 700;
    padding-bottom: 3rem;
}

/* #region second section */
.second_section>.container>.row>.big_col>img{
    width: 100%;
}
.second_section>.container>.row>.small_col{
    padding-left: 2rem;
    padding-top: 3rem;
}
.small_col>h3{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.white_btn_bb{
    color: var(--db-dark);
    background-color: var(--db-light);
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    border: 1px solid var(--db-dark);
    transition: .5s;
}
.white_btn_bb:hover{
    color: var(--db-light);
    background-color: var(--db-secondary);
    border: 1px solid var(--db-secondary);
    border-radius: 20px;
}
/* #region third section */
.card{
    width: calc(100%/3);
    padding: 1.5rem;
}
.card:hover{
    box-shadow: 0px 0px 5px var(--db-main);
    border-radius: 30px;
    transition: 0.5s;
}
.card>img{
    width: 100%;
}
.card>h3{
    padding-bottom: 1.5rem;
}
/* #region fourth section */
/* #region clients */
.clients{
    width:calc(100%/3);
}
.center_client{
    padding: 2.5rem;
}
.clients>img{
    width: 50%;
    padding-bottom: 2rem;
}
.client{
    width: calc(100%/2);
    aspect-ratio: 1;
    justify-content:center;
    align-items: center;
    transition: .3s;
}
.client:hover{
    border: 15px solid rgba(250, 250, 250, 0.2);
}
.client>img{
    filter: invert(1);
    width: 50%;
}

/* #endregion clients */
.free_trial{
    background-color: var(--db-main);
    justify-content: space-between;
}
.free_trial>div{
    justify-content: space-between;
}
.white_btn{
    color: var(--db-dark);
    background-color: var(--db-light);
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: .3s;
    border-radius: 10px;
}
.white_btn:hover{
    color: var(--db-light);
    background-color: var(--db-secondary);
    border: 1px solid var(--db-secondary);
    border-radius: 20px;
}
.free_trial>div>h2{
width: 60%;
color: #61092a;
}
/* #region fifth section */
.fifth_section{
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.faq{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 2rem 0;
}
.ask{
    justify-content: space-between;
    font-weight: 600;    
}

.fa-angle-up{
    display: none;
    
}
.answer{
    padding: 1rem 3rem;
    padding-top: 2rem;
    display: none;
}
.faq:hover .fa-angle-up,
.faq:hover .answer {
  display: inline-block;
}

.faq:hover .fa-angle-down{
  transform: rotate(180deg);
}

/* #endregion main */

/* #region footer */
footer{
    background-color: var(--db-dark);
    color: var(--db-light);
}
.foot_col{
    width: calc(100%/5);
}
h4{
    font-size: 1.4rem;
    padding: 2rem 0;
}
li{
    list-style: none;
    margin-bottom: 0.8rem;
    font-weight: 100;
    transition: 0.4s;
}
#foot_hr{
    margin-top: 6rem;
    margin-bottom: 2rem;
    width: 15%;
}
.language{
    align-items: center;
    gap: 1rem;
}

li:hover{
    color: var(--db-secondary)
}
/* #endregion footer */

/* #region colors */
:root{
    --db-main: #b4d0e7;
    --db-secondary: #0060fe;
    --db-dark: #000101;
    --db-light: #fefeff;
}
/* #endregion colors */
