*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    max-width: 1170px;
    margin: auto;
    width: 80%;
    padding: 1rem 0;
}

section{
    background-color: var(--db-light);
}

/* #region debug */
.debug header{
    background-color: rgb(255, 123, 123);
    height: 80px;
}
.debug section{
    border: 1px dashed black;
    background-color: rgba(192, 255, 98, 0.719);
}
.debug .container{
    background-color: rgba(109, 109, 246, 0.625);
}
.debug .row{
    background-color: rgb(233, 233, 102);
}
.debug .big_col, .debug .small_col, .debug .equal_col, .debug .large_col{
    background-color: rgb(238, 135, 238);
}
.debug .card{
    background-color: pink;
}
/* #endregion debug */


/* #region header */
header{
    background-color: var(--db-light);
    justify-content: space-between;
    align-items: center;
}
/* #endregion header */


/* #region main */
.hero_image{
    background-color: var(--db-main);
}
h1{
    font-size: xx-large;
}
.small_col{
    width: 40%;
}
.big_col{
    width: 60%;
}
.big_col>img{
    width: 100%;
}
.equal_col{
    width: calc(100%/3);
    justify-content: center;
}
.head_col{
    justify-content: center;
}

/* #region large column */
.large_col>.main_col>.d-flex{
    justify-content: space-between;
}

/* #region card */
.card{
    width: calc(100%/3);
}
.card>img{
    width: 100%;
}

/* #region clients */
.clients{
    width:calc(100%/3);
}
.clients>img{
    width: 50%;
}
.client{
    width: calc(100%/2);
    aspect-ratio: 1;
    justify-content:center;
    align-items: center;
}
.client>img{
    filter: invert(1);
    width: 50%;
}
.free_trial{
    background-color: var(--db-main);
}
.free_trial>div{
    justify-content: space-between;
}
/* #endregion clients */

.faq{
    justify-content: space-between;
}

/* #endregion main */


/* #region footer */
/* #endregion footer */

/* #region colors */
:root{
    --db-main: #b4d0e7;
    --db-secondary: #0060fe;
    --db-dark: #000101;
    --db-light: #fefeff;
}
/* #endregion colors */